@font-face {
  font-family: custom;
  src: url(../fonts/charter-regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: custom;
  src: url(../fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: custom;
  src: url(../fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: custom;
  src: url(../fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 18px;
  --white30 : white;
  --white20 : #A5A3A5;
  --white10 : #616161;
  --gray10 : #3A3539;
  /* --gray20: */
  --gray30 : #251F24;
  --fontFamily :'Nunito', sans-serif;
}

body {
  margin: 0;
  color : var(--white);
  /* font-family: 'Roboto', sans-serif; */
  font-family: var(--fontFamily);
  background: var(--gray30);
  /* font-family: custom; */
}

header {
  /* --white10: red; */
  margin-block-start: 20px ;
  font-size: 14px;
  color: var(--white30);
  /* top */
  /* bottom */
  /* inset-block-end: ; */
  /* left */
  /* right */
  /* inset-inline-end: ; */
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color : var(--white30);
}

header li:hover{
  color : var(--white30);
}

nav details summary {
  font-weight: bold;
}

a {
  color : var(--white);
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);;
}

h1, h2, h3 {
  color: var(--white30);
  /* font-weight: normal; */
}

h1 {
  /* font-size: 3.75em; */
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
}

h2 {
  font-size: 2em;
  margin-block: 40px;
  /* font-weight: normal; */
  /* font-size: 32px; */
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
  /* font-size: 24px; */
}

pre {
  font-family: var(--fontFamily);
  color: var(--white30);
  background: var(--gray10);
  padding: 40px;
  overflow: auto;
  border-radius: 8px;
  border: 8px solid #5551FF;
  box-shadow: -10px 10px 0 0 #ABAAF6;
  margin-block-end: 30px;
}

p {
  color: var(--white20);
  margin-block-end: 16px;
}

blockquote {
  margin-block-start: 80px;
  margin-block-end: 63px;
  background-color: var(--gray10);
  border-radius: 8px;
  line-height: 32px;
  font-size: 24px;
  padding-inline: 24px;
  padding-block: 24px;
}

blockquote p {
  color: var(--white30);
}

/* .main {

} */

.wrapper {
  max-inline-size: 902px;
  margin: auto;

}

.main-content {
  padding-inline: 10px;
}

.header {
  /* inset-block-start: -45px;
  position: sticky; */
}

.header-content {
  padding-inline: 20px;
  /* position: relative;
  inset-block-start: 65px; */
}

.hero {
  /* background-image: linear-gradient(to top, rgba(255, 255, 255,.3), transparent), url(../images/pattern.png); */
  /* background: linear-gradient(3.36deg, #212325 -63.62%, rgba(255, 255, 255, 0) 43.49%), url(../images/pattern.png); */
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  block-size: 50px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal) ".";
}

/* .section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
} */

.section-content img {
  max-inline-size: 100%;
  display: block;
  margin-block-start: 40px;
  margin-block-end: 16px;
}

.section-content ol,ul {
  color: var(--white20);
}

.slider {
  /* border: 1px solid red; */
}

.slider-container {
  /* block-size: 100px; */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  /* border: 1px solid yellow; */
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: var(--white30);
  border-radius: 50%;
}

.form input{
  inline-size: 100%;
  border: 1px solid var(--white30);
  background: var(--gray30);
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input[type="submit"] {
  background: #157EFB;
  border: none;
}

.form input::-webkit-input-placeholder{
  color: var(--white20);
}

@media screen and (min-width: 1366px) {
  .hero{
    block-size: 350px;
  }

  .header {
    inset-block-start: -45px;
    position: sticky;
  }

  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }

  header {
      inline-size: 188px;
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: -208px;
  }

  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }
}