@font-face {
  font-family: custom;
  src: url(../fonts/charter-regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: custom;
  src: url(../fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: custom;
  src: url(../fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: custom;
  src: url(../fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: bold;
}

:root {
  --gray10 : #616161;
  --gray20 : #212429;
  --gray30 : #212121;
}

html {
  /* font-size: 16px; */
}

body {
  color : var(--gray30);
  font-family: 'Roboto', sans-serif;
  /* font-family: custom; */
}

header {
  /* --gray10: red; */
  font-size: 14px;
  color: var(--gray10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color : var(--gray30);
}

nav details summary {
  font-weight: bold;
}

a {
  color : var(--gray30);
}

h1 {
  /* font-size: 3.75em; */
  font-size: 60px;
}

h2 {
  font-size: 2em;
  /* font-size: 32px; */
}

h3 {
  font-size: 1.5em;
  /* font-size: 24px; */
}

pre {
  background: #FEC62E;
}

.hero {
  background-image: linear-gradient(to top, rgba(255, 255, 255,.3), transparent), url(../images/pattern.png);
  /* background: linear-gradient(3.36deg, #212325 -63.62%, rgba(255, 255, 255, 0) 43.49%), url(../images/pattern.png); */
  height: 350px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal) ".";
}

.section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
}

/* ::selection {
  background: yellow;
} */